body{
    background-color: rgb(65, 161, 65);
}

img{
    width: 200px;
    margin-left: -130px;
    position: relative;
    left: 150px;
}

#jugador, #computadora{
    min-height: 210px;
}

#mensajeGanador{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 300px;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534);
    border-radius: 10px;
}
